/*Emoji*/
@font-face {
  font-family: 'NotoColorEmoji';
  src: url('font/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Kor/Eng */
@font-face {
    font-family: Galmuri11;
    src: url('font/Galmuri11.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
}

@font-face {
    font-family: Galmuri11;
    src: url('font/Galmuri11-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
}

:root {
  --font-title: 'Galmuri11', 'NotoColorEmoji', sans-serif;
  --font-body-ko: 'Galmuri11', 'NotoColorEmoji', sans-serif;
  --font-body-en: 'Galmuri11', 'NotoColorEmoji', sans-serif;
}

input, button, textarea, select {
  font-family: inherit;
}

body {
  font-family: var(--font-body-ko);
}

h1, h2, h3, h4, .title {
  font-family: var(--font-title);
}

:lang(ko) {
  font-family: var(--font-body-ko);
}

:lang(en) {
  font-family: var(--font-body-en);
}
